coverage==5.4
email-validator==1.1.2
Flask==2.1.0
Flask-Cors==3.0.10
py==1.10.0
pylint==2.6.0
pylint-venv==2.1.1
pyparsing==2.4.7
pytest==6.2.2
requests==2.25.1
urllib3==1.26.3
virtualenv==20.4.2
Werkzeug==2.0
wrapt==1.12.1
pycodestyle==2.7.0
flask_mail==0.9.1
Pillow==9.1.0
PyJWT==2.3.0
